data/guacamol_v1_all.smiles filter=lfs diff=lfs merge=lfs -text
data/guacamol_v1_test.smiles filter=lfs diff=lfs merge=lfs -text
data/guacamol_v1_train.smiles filter=lfs diff=lfs merge=lfs -text
data/guacamol_v1_valid.smiles filter=lfs diff=lfs merge=lfs -text
weights/guacamol_nc.pt filter=lfs diff=lfs merge=lfs -text
weights/guacamol_pc.pt filter=lfs diff=lfs merge=lfs -text
